*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("../img/background.jpg") no-repeat top;
  background-size: cover;
  background-position: center;
}

.container {
  margin: 0;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-xs-12 img {
  display: flex;
  align-items: flex-start;
  width: 300px;
}

h1 {
  color: white;
  padding: 10px;
}

.button {
  text-align: center;
}

button {
  background: #6CB518;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 20px;
  width: 180px;
}

.savings {
  width: 100%;
  display: block;
  font-size: 20px;
  background-color: transparent;
  color: #6CB518;
  border: none;
  text-align: center;
}
